<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Example01</servlet-name>
    <servlet-class>servlet.Example01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example01</servlet-name>
    <url-pattern>/servlet/Example01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example02</servlet-name>
    <servlet-class>servlet.Example02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example02</servlet-name>
    <url-pattern>/servlet/Example02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example03</servlet-name>
    <servlet-class>servlet.Example03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example03</servlet-name>
    <url-pattern>/servlet/Example03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example04</servlet-name>
    <servlet-class>servlet.Example04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example04</servlet-name>
    <url-pattern>/servlet/Example04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example05</servlet-name>
    <servlet-class>servlet.Example05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example05</servlet-name>
    <url-pattern>/servlet/Example05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Quiz01</servlet-name>
    <servlet-class>servlet.Quiz01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quiz01</servlet-name>
    <url-pattern>/servlet/Quiz01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example07</servlet-name>
    <servlet-class>servlet.Example07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example07</servlet-name>
    <url-pattern>/servlet/Example07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example08</servlet-name>
    <servlet-class>servlet.Example08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example08</servlet-name>
    <url-pattern>/servlet/Example08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example08_Success</servlet-name>
    <servlet-class>servlet.Example08_Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example08_Success</servlet-name>
    <url-pattern>/servlet/Example08_Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example08_Fail</servlet-name>
    <servlet-class>servlet.Example08_Fail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example08_Fail</servlet-name>
    <url-pattern>/servlet/Example08_Fail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example09</servlet-name>
    <servlet-class>servlet.Example09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example09</servlet-name>
    <url-pattern>/servlet/Example09</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example09_Sub</servlet-name>
    <servlet-class>servlet.Example09_Sub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example09_Sub</servlet-name>
    <url-pattern>/servlet/Example09_Sub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example10</servlet-name>
    <servlet-class>servlet.Example10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example10</servlet-name>
    <url-pattern>/servlet/Example10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example10_Getting</servlet-name>
    <servlet-class>servlet.Example10_Getting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example10_Getting</servlet-name>
    <url-pattern>/servlet/Example10_Getting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example10_Delete</servlet-name>
    <servlet-class>servlet.Example10_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example10_Delete</servlet-name>
    <url-pattern>/servlet/Example10_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Example11</servlet-name>
    <servlet-class>servlet.Example11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example11</servlet-name>
    <url-pattern>/servlet/Example11</url-pattern>
  </servlet-mapping>
</web-app>